The following code manipulates NHL game data for my Xg model

Import libraries

In [ ]:
import pandas as pd
import pickle

Make function to get event types

In [ ]:
def get_event_types(game_data): # define function 
    event_types = [] # instantiate empty list 
    for g in game_data: # loo0p through games in game data 
            if 'liveData' not in g: # make sure there is live game data 
                continue 
            plays = g['liveData']['plays']['allPlays'] # get the current game's plays and assign to variable 
            for p in plays: # loop through plays 
                event = p['result']['event'] # assign event data to variable 
                if event not in event_types: # check if current event is already in event list 
                    event_types.append(event) # if not in list, append to list 
    return(event_types) # return event types in data

Read in data

In [ ]:
data = '2021FullDataset.pkl'
with open(data, 'rb') as f:
    gd = pickle.load(f)

In [ ]:
plays=gd['liveData']

In [81]:
def get_event_types(game_data):
    event_types = []
    for g in game_data:
            if 'liveData' not in g:
                continue
            plays = g['liveData']['plays']['allPlays'] # get the current game's plays 
            for p in plays:
                event = p['result']['event']
                if event not in event_types:
                    event_types.append(event)
    return(event_types)

In [83]:
et = get_event_types(gd)

In [62]:
 for

,result,about,coordinates,players,team
0,"{'event': 'Game Scheduled', 'eventCode': 'TBL1...","{'eventIdx': 0, 'eventId': 1, 'period': 1, 'pe...",{},NaN,NaN
1,"{'event': 'Period Ready', 'eventCode': 'TBL5',...","{'eventIdx': 1, 'eventId': 5, 'period': 1, 'pe...",{},NaN,NaN
2,"{'event': 'Period Start', 'eventCode': 'TBL51'...","{'eventIdx': 2, 'eventId': 51, 'period': 1, 'p...",{},NaN,NaN
3,"{'event': 'Faceoff', 'eventCode': 'TBL52', 'ev...","{'eventIdx': 3, 'eventId': 52, 'period': 1, 'p...","{'x': 0.0, 'y': 0.0}","[{'player': {'id': 8470604, 'fullName': 'Jeff ...","{'id': 5, 'name': 'Pittsburgh Penguins', 'link..."
4,"{'event': 'Hit', 'eventCode': 'TBL8', 'eventTy...","{'eventIdx': 4, 'eventId': 8, 'period': 1, 'pe...","{'x': 46.0, 'y': 40.0}","[{'player': {'id': 8476292, 'fullName': 'Ondre...","{'id': 14, 'name': 'Tampa Bay Lightning', 'lin..."
...,...,...,...,...,...
324,"{'event': 'Shot', 'eventCode': 'TBL682', 'even...","{'eventIdx': 324, 'eventId': 682, 'period': 3,...","{'x': 37.0, 'y': -28.0}","[{'player': {'id': 8478416, 'fullName': 'Erik ...","{'id': 14, 'name': 'Tampa Bay Lightning', 'lin..."
325,"{'event': 'Period End', 'eventCode': 'TBL609',...","{'eventIdx': 325, 'eventId': 609, 'period': 3,...",{},NaN,NaN
326,"{'event': 'Period Official', 'eventCode': 'TBL...","{'eventIdx': 326, 'eventId': 612, 'period': 3,...",{},NaN,NaN
327,"{'event': 'Game End', 'eventCode': 'TBL613', '...","{'eventIdx': 327, 'eventId': 613, 'period': 3,...",{},NaN,NaN
328,"{'event': 'Game Official', 'eventCode': 'TBL11...","{'eventIdx': 328, 'eventId': 1161, 'period': 3...",{},NaN,NaN

In [ ]:
event_types + ['yellow', 7, 92] + diff

In [59]:
gd[1]['gameData'].keys()

dict_keys(['copyright', 'gamePk', 'link', 'metaData', 'gameData', 'liveData'])